.nol {
    width: 80%;
    height: 100px;
    background-color: gray;
}

.satu {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}

.dua {
    width: 100%;
    background-color: aqua;
}

.tiga {
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    overflow: scroll;
}